@use './reset.scss' as *;
@use '@/shared/styles/variables' as *;

* {
	box-sizing: border-box;
}

body {
	font-family: $font-inter;
	background-color: $black;
	color: $white;
}

#root {
	display: flex;
	min-height: 100vh;
}

main {
	flex: 1;
	margin-left: 150px;
}

.red_text {
	color: $red;
}

.section-title {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 10px;
}
