@use '@/shared/styles/variables' as *;

.sidebar {
	width: 150px;
	height: 100vh;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav_list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 33px;
}

.active {
	border-bottom: $active-link-red 3px solid;
}

.nav_list__link {
	width: 35px;
}
.profile_icon {
	filter: invert(1);
}
