.movie_item {
	&_wrapper {
		padding: 15px;
		display: flex;
		gap: 30px;
		background-color: #222222;
		border-radius: 5px;
	}
}
.movie_info {
	padding-top: 15px;
}
.title {
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 25px;
}

.description {
	width: 70rem;
	line-height: 1.4;
}
.movie_info_text {
	font-size: 20px;
	margin-bottom: 20px;
}
